.header {
  height: 70px;
  padding: var(--mantine-spacing-md);
  border-top: 4px solid var(--mantine-color-green-4);
  box-shadow: 0px 1px 4px var(--mantine-color-gray-4);
}

.signout {
  color: var(--mantine-color-black);
  font-size: 0.85rem;
  text-decoration: none;
}
